body {
  margin: 0.5rem;
  font-family: "Arial";
}
.error-message {
  color: red;
}
.recipe-detail-list-field:valid ~ .form-list-field-invalid {
  display: none;
}
.recipe-detail-field:valid ~ .form-field-invalid {
  display: none;
}
.flex-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 1rem;
}
.welcome-header {
  margin-top: 0.75rem;
}
