body {
  margin: 0.5rem;
  font-family: "Arial";
}
.error-message {
  color: red;
  margin: 0.5rem 0.5rem
}
.success-message {
  margin: 0.5rem 0.5rem
}
.recipe-detail-list-field:valid ~ .form-list-field-invalid {
  display: none;
}
.recipe-detail-field:valid ~ .form-field-invalid {
  display: none;
}
.flex-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 1rem;
}
.welcome-header {
  margin-top: 0.75rem;
}
.recipe-form-buttons {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
div.alert {
  margin-bottom: 0;
  padding: 0.25rem 0.25rem;
}
div.form-field-invalid {
  font-size: 0.875rem;
  margin-left: 0.125rem;
}
